flows.json
[
    {
        "id": "e6c896205ebace14",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "054b011696d1f495",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1ffb8f863d58e61f",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0a2eb233c8de591f",
        "type": "inject",
        "z": "e6c896205ebace14",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 120,
        "wires": [
            [
                "cc44859d7c25ae9b"
            ]
        ]
    },
    {
        "id": "cc44859d7c25ae9b",
        "type": "http request",
        "z": "e6c896205ebace14",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/significant_month.csv",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 210,
        "y": 260,
        "wires": [
            [
                "6809fc5219317de7"
            ]
        ]
    },
    {
        "id": "6809fc5219317de7",
        "type": "csv",
        "z": "e6c896205ebace14",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 370,
        "y": 280,
        "wires": [
            [
                "d612668f6a673bdb",
                "e080d10ba53b2331"
            ]
        ]
    },
    {
        "id": "d612668f6a673bdb",
        "type": "debug",
        "z": "e6c896205ebace14",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 200,
        "wires": []
    },
    {
        "id": "e080d10ba53b2331",
        "type": "switch",
        "z": "e6c896205ebace14",
        "name": "",
        "property": "payload.mag",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "7",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 350,
        "y": 420,
        "wires": [
            [
                "7c235cb1f5efc368"
            ]
        ]
    },
    {
        "id": "7c235cb1f5efc368",
        "type": "change",
        "z": "e6c896205ebace14",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "panic",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 400,
        "wires": [
            [
                "72498c6c115a964a"
            ]
        ]
    },
    {
        "id": "72498c6c115a964a",
        "type": "debug",
        "z": "e6c896205ebace14",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 420,
        "wires": []
    },
    {
        "id": "a48712a0ddfcd8d1",
        "type": "comment",
        "z": "e6c896205ebace14",
        "name": "",
        "info": "rgregrgergregg",
        "x": 520,
        "y": 40,
        "wires": []
    },
    {
        "id": "e14178e7335d1377",
        "type": "inject",
        "z": "054b011696d1f495",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 200,
        "wires": [
            [
                "fc873a70a5d40e8b"
            ]
        ]
    },
    {
        "id": "fc873a70a5d40e8b",
        "type": "http request",
        "z": "054b011696d1f495",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://northwind.netcore.io/customers.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 310,
        "y": 200,
        "wires": [
            [
                "f01d7bfb08b8c0b7"
            ]
        ]
    },
    {
        "id": "35a8c2df3c6565c7",
        "type": "debug",
        "z": "054b011696d1f495",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 320,
        "wires": []
    },
    {
        "id": "121695f3ce2c7fb2",
        "type": "function",
        "z": "054b011696d1f495",
        "name": "function 1",
        "func": "let axios = global.get('axios')\nlet response = await axios.get('http://localhost:8088/sampleData')\nmsg.libraryTest = response.data\n\nfor (let i = 0; i < msg.payload.results.length; i++) {\n    let contactNameSplit = msg.payload.results[i].contactName.split(\" \")\n    contactNameSplit = contactNameSplit.reverse().join(\" \")\n    msg.payload.results[i].contactName = contactNameSplit\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "moment",
                "module": "moment"
            }
        ],
        "x": 640,
        "y": 140,
        "wires": [
            [
                "94e0aa2302d1f3d1",
                "bab76716c02094bf"
            ]
        ]
    },
    {
        "id": "94e0aa2302d1f3d1",
        "type": "xml",
        "z": "054b011696d1f495",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 430,
        "y": 320,
        "wires": [
            [
                "9472b639cb8b6074",
                "844916e71ed0230e"
            ]
        ]
    },
    {
        "id": "9472b639cb8b6074",
        "type": "http request",
        "z": "054b011696d1f495",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8088/",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "application/xml",
                "valueValue": ""
            }
        ],
        "x": 590,
        "y": 320,
        "wires": [
            [
                "35a8c2df3c6565c7"
            ]
        ]
    },
    {
        "id": "ef3b1fddb924a3d5",
        "type": "catch",
        "z": "054b011696d1f495",
        "name": "HTTP get errors",
        "scope": [
            "fc873a70a5d40e8b"
        ],
        "uncaught": false,
        "x": 160,
        "y": 520,
        "wires": [
            [
                "c7f34780218e8545",
                "7d67a59ad0b6a817"
            ]
        ]
    },
    {
        "id": "7902d9b43c8f6f23",
        "type": "complete",
        "z": "054b011696d1f495",
        "name": "Successful post",
        "scope": [
            "9472b639cb8b6074"
        ],
        "uncaught": false,
        "x": 600,
        "y": 500,
        "wires": [
            [
                "aca4e24fdfe91187"
            ]
        ]
    },
    {
        "id": "aca4e24fdfe91187",
        "type": "debug",
        "z": "054b011696d1f495",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 500,
        "wires": []
    },
    {
        "id": "c7f34780218e8545",
        "type": "delay",
        "z": "054b011696d1f495",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 340,
        "y": 500,
        "wires": [
            [
                "fc873a70a5d40e8b"
            ]
        ]
    },
    {
        "id": "7d67a59ad0b6a817",
        "type": "debug",
        "z": "054b011696d1f495",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "error",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 560,
        "wires": []
    },
    {
        "id": "e706148c40ca392a",
        "type": "catch",
        "z": "054b011696d1f495",
        "name": "",
        "scope": null,
        "uncaught": true,
        "x": 160,
        "y": 620,
        "wires": [
            [
                "bfa97774f3597ca4"
            ]
        ]
    },
    {
        "id": "bfa97774f3597ca4",
        "type": "debug",
        "z": "054b011696d1f495",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "error",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 620,
        "wires": []
    },
    {
        "id": "f01d7bfb08b8c0b7",
        "type": "json",
        "z": "054b011696d1f495",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 470,
        "y": 140,
        "wires": [
            [
                "121695f3ce2c7fb2",
                "50801b94b1170d3c"
            ]
        ]
    },
    {
        "id": "844916e71ed0230e",
        "type": "file",
        "z": "054b011696d1f495",
        "name": "",
        "filename": "C:\\Users\\SLC.KZN\\Documents\\files-nodered\\output.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 720,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "3d5b1cb72cd83619",
        "type": "debug",
        "z": "054b011696d1f495",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 180,
        "wires": []
    },
    {
        "id": "50801b94b1170d3c",
        "type": "switch",
        "z": "054b011696d1f495",
        "name": "",
        "property": "payload.country",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Germany",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "Germany",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 650,
        "y": 80,
        "wires": [
            [
                "3d5b1cb72cd83619",
                "2958e238ad6eba73"
            ],
            []
        ]
    },
    {
        "id": "2958e238ad6eba73",
        "type": "debug",
        "z": "054b011696d1f495",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 100,
        "wires": []
    },
    {
        "id": "bab76716c02094bf",
        "type": "debug",
        "z": "054b011696d1f495",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "libraryTest",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 220,
        "wires": []
    },
    {
        "id": "bdb3be5a23a2993f",
        "type": "http in",
        "z": "1ffb8f863d58e61f",
        "name": "GET /hello",
        "url": "/hello",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 280,
        "y": 220,
        "wires": [
            [
                "7c340f9b9c5c2916",
                "124bec108152f9c2"
            ]
        ]
    },
    {
        "id": "4fdbb7e7243788a9",
        "type": "template",
        "z": "1ffb8f863d58e61f",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n    <head></head>\n    <body>\n        <h1>Hello {{req.query.name}}!</h1>\n    </body>\n</html>",
        "output": "str",
        "x": 600,
        "y": 220,
        "wires": [
            [
                "181a60337888d7aa"
            ]
        ]
    },
    {
        "id": "181a60337888d7aa",
        "type": "http response",
        "z": "1ffb8f863d58e61f",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 810,
        "y": 220,
        "wires": []
    },
    {
        "id": "dccacc44ee7839e1",
        "type": "http in",
        "z": "1ffb8f863d58e61f",
        "name": "GET customers-mirror",
        "url": "/customers-mirror",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 360,
        "y": 320,
        "wires": [
            [
                "279dba3080a1cbf6"
            ]
        ]
    },
    {
        "id": "279dba3080a1cbf6",
        "type": "http request",
        "z": "1ffb8f863d58e61f",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://northwind.netcore.io/customers.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 530,
        "y": 380,
        "wires": [
            [
                "9695b6dfe0847595"
            ]
        ]
    },
    {
        "id": "9695b6dfe0847595",
        "type": "json",
        "z": "1ffb8f863d58e61f",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 690,
        "y": 320,
        "wires": [
            [
                "6902d096fbdec917"
            ]
        ]
    },
    {
        "id": "6902d096fbdec917",
        "type": "http response",
        "z": "1ffb8f863d58e61f",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 850,
        "y": 320,
        "wires": []
    },
    {
        "id": "f8b4110a29f9d9d7",
        "type": "change",
        "z": "1ffb8f863d58e61f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "req.query.name",
                "pt": "msg",
                "to": "Guest",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 140,
        "wires": [
            [
                "4fdbb7e7243788a9"
            ]
        ]
    },
    {
        "id": "7c340f9b9c5c2916",
        "type": "switch",
        "z": "1ffb8f863d58e61f",
        "name": "no name",
        "property": "req.query.name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 420,
        "y": 140,
        "wires": [
            [
                "f8b4110a29f9d9d7",
                "510824164a5d0245"
            ]
        ]
    },
    {
        "id": "124bec108152f9c2",
        "type": "switch",
        "z": "1ffb8f863d58e61f",
        "name": "name",
        "property": "req.query.name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 430,
        "y": 220,
        "wires": [
            [
                "4fdbb7e7243788a9"
            ]
        ]
    },
    {
        "id": "510824164a5d0245",
        "type": "debug",
        "z": "1ffb8f863d58e61f",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 40,
        "wires": []
    }
]